<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>version</key>
        <integer>7</integer>
        <key>title</key>
        <string>My level</string>
        <key>description</key>
        <string></string>
        <key>authorName</key>
        <string>Amazing Alex</string>
        <key>serverPath</key>
        <string></string>
        <key>backgroundIndex</key>
        <integer>0</integer>
        <key>toolboxSlotCount</key>
        <integer>1</integer>
        <key>toolboxSlots_0</key>
        <dict>
            <key>type</key>
            <integer>1</integer>
            <key>amount</key>
            <integer>1</integer>
        </dict>
        <key>itemCount</key>
        <integer>7</integer>
        <key>itemInfos_0</key>
        <dict>
            <key>type</key>
            <integer>31</integer>
            <key>handle</key>
            <integer>2080382976</integer>
            <key>center_x</key>
            <real>0.00000000000000000</real>
            <key>center_y</key>
            <real>0.00000000000000000</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>flags</key>
            <integer>1</integer>
            <key>ropeEndPos_x</key>
            <real>0.00000000000000000</real>
            <key>ropeEndPos_y</key>
            <real>0.00000000000000000</real>
            <key>itemData</key>
            <integer>0</integer>
            <key>attachmentCount</key>
            <integer>0</integer>
        </dict>
        <key>itemInfos_1</key>
        <dict>
            <key>type</key>
            <integer>40</integer>
            <key>handle</key>
            <integer>-1610604543</integer>
            <key>center_x</key>
            <real>0.00000000000000000</real>
            <key>center_y</key>
            <real>0.00000000000000000</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>flags</key>
            <integer>1</integer>
            <key>ropeEndPos_x</key>
            <real>0.00000000000000000</real>
            <key>ropeEndPos_y</key>
            <real>0.00000000000000000</real>
            <key>itemData</key>
            <integer>0</integer>
            <key>attachmentCount</key>
            <integer>0</integer>
        </dict>
        <key>itemInfos_2</key>
        <dict>
            <key>type</key>
            <integer>1</integer>
            <key>handle</key>
            <integer>67117058</integer>
            <key>center_x</key>
            <real>1.73097479343414307</real>
            <key>center_y</key>
            <real>0.62179225683212280</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>flags</key>
            <integer>1</integer>
            <key>ropeEndPos_x</key>
            <real>0.00000000000000000</real>
            <key>ropeEndPos_y</key>
            <real>0.00000000000000000</real>
            <key>itemData</key>
            <integer>0</integer>
            <key>attachmentCount</key>
            <integer>0</integer>
        </dict>
        <key>itemInfos_3</key>
        <dict>
            <key>type</key>
            <integer>23</integer>
            <key>handle</key>
            <integer>1543512067</integer>
            <key>center_x</key>
            <real>1.51285469532012939</real>
            <key>center_y</key>
            <real>0.72169452905654907</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>flags</key>
            <integer>1</integer>
            <key>ropeEndPos_x</key>
            <real>0.00000000000000000</real>
            <key>ropeEndPos_y</key>
            <real>0.00000000000000000</real>
            <key>itemData</key>
            <integer>0</integer>
            <key>attachmentCount</key>
            <integer>0</integer>
        </dict>
        <key>itemInfos_4</key>
        <dict>
            <key>type</key>
            <integer>23</integer>
            <key>handle</key>
            <integer>1543516164</integer>
            <key>center_x</key>
            <real>1.58611631393432617</real>
            <key>center_y</key>
            <real>0.79162621498107910</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>flags</key>
            <integer>1</integer>
            <key>ropeEndPos_x</key>
            <real>0.00000000000000000</real>
            <key>ropeEndPos_y</key>
            <real>0.00000000000000000</real>
            <key>itemData</key>
            <integer>0</integer>
            <key>attachmentCount</key>
            <integer>0</integer>
        </dict>
        <key>itemInfos_5</key>
        <dict>
            <key>type</key>
            <integer>23</integer>
            <key>handle</key>
            <integer>1543520261</integer>
            <key>center_x</key>
            <real>1.50323188304901123</real>
            <key>center_y</key>
            <real>0.83454978466033936</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>flags</key>
            <integer>1</integer>
            <key>ropeEndPos_x</key>
            <real>0.00000000000000000</real>
            <key>ropeEndPos_y</key>
            <real>0.00000000000000000</real>
            <key>itemData</key>
            <integer>0</integer>
            <key>attachmentCount</key>
            <integer>0</integer>
        </dict>
        <key>itemInfos_6</key>
        <dict>
            <key>type</key>
            <integer>2</integer>
            <key>handle</key>
            <integer>134230023</integer>
            <key>center_x</key>
            <real>2.33538389205932617</real>
            <key>center_y</key>
            <real>1.08467304706573486</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>flags</key>
            <integer>1</integer>
            <key>ropeEndPos_x</key>
            <real>0.00000000000000000</real>
            <key>ropeEndPos_y</key>
            <real>0.00000000000000000</real>
            <key>itemData</key>
            <integer>0</integer>
            <key>attachmentCount</key>
            <integer>0</integer>
        </dict>
        <key>goal</key>
        <dict>
            <key>type</key>
            <integer>0</integer>
            <key>itemCount</key>
            <integer>0</integer>
            <key>itemHandles</key>
            <array>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
            </array>
            <key>itemHandles2</key>
            <array>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
                <integer>0</integer>
            </array>
            <key>timeLimit</key>
            <integer>0</integer>
            <key>height</key>
            <real>0.00000000000000000</real>
            <key>width</key>
            <real>0.00000000000000000</real>
            <key>angle</key>
            <real>0.00000000000000000</real>
            <key>negated</key>
            <false />
        </dict>
        <key>rewardId</key>
        <integer>0</integer>
        <key>tested</key>
        <true />
        <key>sharedPublicly</key>
        <false />
    </dict>
</plist>
